#container {
    background-color: #4e4b5e;
    border-radius: 12px;
    border-left: 12px solid #605b7c;
    border-top: 6px solid #605b7c;
    border-right: 8px solid #454350;
    border-bottom: 6px solid #454350;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px auto;
    padding: 64px 8px 48px;
    width: 480px;
}

#screen {
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 400px;
    height: 72px;
    padding: 16px 8px;
    background-color: #99a695;
    border-left: 3px solid #7b807a;
    border-top: 3px solid #7b807a;
    border-right: 3px solid #9eb498;
    border-bottom: 3px solid #9eb498;
}

#grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 80px 64px 32px;
}

button {
    background-color: #8d8a9d;
    width: 64px;
    font-size: 1.5em;
    font-weight: 900;
    color: white;
    border-radius: 12px;
    padding: 16px 20px;
}

<<<<<<< HEAD
=======
button.active {
    background-color: #2a2646;
}

>>>>>>> calcv2
#C {
    background-color: #c27997;
}

button#equal:active {
    background-color: #2a2646;
}

button:hover {
    cursor: pointer;
}

.operator {
    background-color: #100f17;
}